@model IEnumerable<BienesRaices.Models.Propiedade>
@{
    ViewData["Title"] = "Lista de Propiedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-4">
        <div class="col-12 col-md-8">
            <h1>Lista de Propiedades</h1>
        </div>
        <div class="col-12 col-md-4">
            <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Nueva Propiedad</a>
        </div>
    </div>

    <div class="table-responsive-md">
        <table id="tblpropiedad" class="table table-striped w-100 shadow bg-white">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(v => v.Titulo)</th>
                    <th>@Html.DisplayNameFor(v => v.Vendedor.Nombre)</th>
                    <th>@Html.DisplayNameFor(v => v.Habitaciones)</th>
                    <th>@Html.DisplayNameFor(v => v.Bano)</th>
                    <th>@Html.DisplayNameFor(v => v.Estacionamiento)</th>
                    <th>@Html.DisplayNameFor(v => v.FechaCreacion)</th>
                    <th>@Html.DisplayNameFor(v => v.Precio)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/propiedad.js"></script>
}



