@model BienesRaices.Models.Propiedade
@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xl mb-5">
    <div class="text-center my-4">
        <h1>@Model.Titulo</h1>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <img src="@Model.ImagenUrl" class="img-thumbnail" />
            <h2 class="text-start my-4 text-warning">$@Model.Precio.ToString("N")</h2>

            <div class="d-flex gap-4 justify-content-sm-around justify-content-md-between mb-4">
                <div class="">
                    <img src="~/img/icono_wc.svg" />
                    <span class="fw-bold">@Model.Bano</span>
                </div>
                <div class="">
                    <img src="~/img/icono_estacionamiento.svg" />
                    <span class="fw-bold">@Model.Estacionamiento</span>
                </div>
                <div class="">
                    <img src="~/img/icono_dormitorio.svg" />
                    <span class="fw-bold">@Model.Habitaciones</span>
                </div>
            </div>
            <p>@Html.Raw(Model.DescripcionLarga)</p>
        </div>
    </div>
</div>

